
<meta name="yandex-verification" content="b39b0583c6b135a0" />


{% include /ads/verif.html %}

<script>
(function () {
  document.querySelectorAll('link[rel="canonical"]').forEach(el => el.remove());

  const canonical = document.createElement("link");
  canonical.rel = "canonical";
  canonical.href = location.href;

  document.head.appendChild(canonical);
})();
</script>


<!--admaven--
<script data-cfasync="false" src="//dcbbwymp1bhlf.cloudfront.net/?wbbcd=1572087"></script>
<script data-cfasync="false" src="//dcbbwymp1bhlf.cloudfront.net/?wbbcd=1572082"></script>
<script data-cfasync="false" src="//dcbbwymp1bhlf.cloudfront.net/?wbbcd=1572079"></script>
<script data-cfasync="false" src="//dcbbwymp1bhlf.cloudfront.net/?wbbcd=1572075"></script>
<script data-cfasync="false" src="https://nengmaya538.github.io/sw.js"></script>
<script data-cfasync="false" src="//dcbbwymp1bhlf.cloudfront.net/?wbbcd=1572066"></script>
<!--admaven-->
